# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out

# Development
.env.local
.env.development

# Database (lokalne)
*.db
*.db-journal
prisma/*.db

# Git
.git
.gitignore

# IDE
.vscode
.claude
.DS_Store
*.tsbuildinfo

# Synology extended attributes
@eaDir
**/@eaDir

# Docker
Dockerfile
docker-compose.yml
.dockerignore
